* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.bg-primary {
  transition: 1s;
}

#nav-port {
  background-color: rgb(244, 139, 179, .70);
 /*  background-color: rgb(244, 112, 163, 0.55 );*/

}

.footer {
  background-color: rgb(244, 139, 179, .70);
}

#port-jumbo {
/*  border: 8px solid #000000;
  border-radius: 10px;*/
  width: 60%;
  padding: 8em 4em;
}

#jumbo-div {
  height: 100vh;
 
  border-radius: 0;
  padding-top: 10%;
  background-image: url("../images/flower.jpg");
  

background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;


}
#jumbo-div h1 {
  color: #f2f2f2;
}

#portfolio {
  padding-top: 10vh;
  padding-bottom: 5vh;
}

#about {
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.card {
  height: 450px;
}
.card:hover{
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    box-shadow: 0 0 50px #ccc;
  }

.card img {
  height: 250px;
}
.me img {
  display: block;
margin-left: auto;
margin-right: auto;
  height: 300px;
  /*padding-bottom: 100%;
  overflow: hidden;*/
  border-radius:50%;
}
.logo img {
  position: relative;
  height: 80px;
}

/* mobile */
@media only screen and (max-width: 400px) {
  #port-jumbo {
    width: 100%;
    margin-top: 10vh;
    padding-top: 5em;
    padding-bottom: 5em;
  }
  #port-jumbo h1,h2 {
    text-align: center;
  }
    .me img {
    display: block;
margin-left: auto;
margin-right: auto;
    }

}
/* tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #jumbo-div, #portfolio, #about {
    height: 100%;
  }
   #port-jumbo h1,h2 {
    text-align: center;
  }
  .me img {
    display: block;
margin-left: auto;
margin-right: auto;
    }
}
@media only screen and (min-width: 960px) {
  #port-jumbo {
    width: 100%;
    height: auto;
    margin-top: 10vh;
    padding-top: 5em;
    padding-bottom: 5em;
  }
  #jumbotron-section {
    height:100vh;
  }
  #port-jumbo h1,h2 {
    text-align: center;
    height: 20%;
  }
    .me img {
    display: block;
margin-left: auto;
margin-right: auto;
    }

}
/* desktop */

/*# sourceMappingURL=style.css.map */
